<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System - 181074</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div><br>
    <h2 style="text-align: center" class="text-light bg-dark">Student Management System</h2><br>
</div>
<form method="POST" action="course/add-student/{course.getId()}/to/{student.getId()}" class="card w-25" style="margin-left: 750px">
    <p class="font-italic">Add id for the student you are adding:</p>
    <div>
        <label class="font-weight-bold" for="studentId">Id</label>
        <input  class="form-control" type="text"
        id="studentId"
        th:value="${student?.getId()}"
        name="studentId"
        required>
    </div>


    <button id="submit" type="submit" class="btn btn-secondary">Submit</button>
</form>
</body>
</html>
