<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System - 181074</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div><br>
    <h2 style="text-align: center" class="text-light bg-dark">Student Management System</h2><br>
</div>
<div style="background-image: url('https://wallpaperaccess.com/full/3071406.jpg'); height: 800px;">
    <div style="text-align: center">
        <a href="/login" class="btn btn-dark">Log in</a>
        <a href="/register" class="btn btn-dark">Register</a>
        <a href="/home" class="btn btn-dark">Home</a>
    </div>
</div>
<div> <br><h6 style="text-align: right" class="text-light bg-dark">All rights reserved</h6></div>
</body>
</html>
