<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System - 181074</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div><br>
    <h2 style="text-align: center" class="text-light bg-dark">Student Management System</h2><br>
</div>
<div>
    <a href="/project/add-project-form" class="btn btn-dark" style="margin-left: 30px">Add your project</a>
</div><br>
<h3 style="margin-left: 30px">Projects</h3>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Code:</th>
        <th>Username:</th>
        <th>Title:</th>
        <th>Description:</th>
        <th>Teacher</th>
        <th>Options:</th>
    </tr>
    <tr th:each="project: ${projects}">
        <td th:text="${project.getId()}">[project.id]</td>
        <td th:text="${project.getCode()}">[project.code]</td>
        <td th:text="${project.getUser().getUsername()}">[project.name]</td>
        <td th:text="${project.getTitle()}">[project.surname]</td>
        <td th:text="${project.getDescription()}">[project.email]</td>
        <td th:text="${project.getTeacher().getName()}">[project.email]</td>
        <td th:block>
                <form th:action="@{'/project/{id}/delete' (id=${project.getId()})}" th:method="DELETE">
                <button type="submit" class="btn btn-secondary">Delete project</button>
            </form>
        </td>

    </tr>
</table>
</body>
</html>
