<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System - 181074</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div><br>
    <h2 style="text-align: center" class="text-light bg-dark">Student Management System</h2><br>
</div><hr>
<div>
<a href="/student/add-student-form" class="btn btn-dark" style="margin-left: 30px" th:block sec:authorize="hasRole('ROLE_ADMIN')">Add new student</a>
    <a href="/home" class="btn btn-warning" style="margin-left: 1650px;">Home</a>
</div><br>
<h3 style="margin-left: 30px">Students</h3>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Index:</th>
        <th>Name:</th>
        <th>Surname:</th>
        <th>Enrolled in course:</th>
        <th>Options:</th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.getId()}">[student.id]</td>
        <td th:text="${student.getIndex()}">[student.index]</td>
        <td th:text="${student.getName()}">[student.name]</td>
        <td th:text="${student.getSurname()}">[student.surname]</td>
        <td th:text="${student.getCoursesNames()}">
            zemi gi kursevite
        </td>
        <td th:block sec:authorize="hasAnyRole('ROLE_TEACHER','ROLE_ADMIN')">
                <form th:action="@{'/student/add-{id}-to-course-form' (id=${student.getId()})}" th:method="GET">
                    <button type="submit" class="btn btn-secondary">Add to course</button>
                </form><br>
                <form th:action="@{'/student/{id}/delete' (id=${student.getId()})}" th:method="DELETE">
                <button type="submit" class="btn btn-secondary">Delete student</button>
            </form>
        </td>

    </tr>
</table><hr>
</body>
</html>
